@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.container{
  max-width: 500px;
  overflow: auto;
  border: .1rem solid steelblue;
  margin: 10px 30px;
  padding: .2rem;
}
.container h1{
  font-size: 1.5rem;
}
.container .header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem;
}
.container .btn{
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
}
.container .list{
  cursor: pointer;
  background-color: #f4f4f4;
  margin-bottom: 0.5%;
  padding: 4px 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.container .list h3{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list.reminder{
  border: .1rem solid green;
}
.form{
  padding: 6px 20px;
  margin-bottom: 1%;
}
form .form-control label{
  display: block;
  color: #000;
  font-size: 1.1rem;
}
form .form-control{
  margin-bottom: 4%;
}
.form .form-control input{
  width: 95%;
  height: 34px;
  outline: none;
  padding-left: 2%;
  color: #000;
}
::placeholder{
  font-size: 1rem;
}
.checked-control{
  display: flex;
  justify-content: space-around;
}
.checked-control input{
  width: 4%;
  cursor: pointer;
}
.button-control{
  margin-top: 1%;
  margin-bottom: 1%;
}
.btn-block{
  width: 100%;
  padding: 6px 0;
  font-size: 1.1rem;
  background-color: #000;
  color: #fff;
  border-radius: 7px;
  transition: 0.3s ease;
  border: none;
}
.btn-block:active{
  background-color: #333;
}